.about {
  background-color: @green;
  padding-top: 4rem;
  padding-bottom: 3rem;

  &__content {

    @media (min-width: @screen-sm) {
      max-width: 66%;
      margin: auto;
    }
  }

  &__title {
    text-align: center;
    font-size: 1.414em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5em;

    @media (min-width: @screen-sm) {
      font-size: 2em;
    }
  }

  &__desc {
    margin-bottom: 1.5em;

    @media (min-width: @screen-md) {
      font-size: 1.35rem;
    }
  }
}