.advantages {
  background-color: @green;
  padding: 3rem 0 3rem 0;

  &__content {

    @media (min-width: @screen-sm) {
      max-width: 66%;
      margin: auto;
    }
  }

  &__desc {
    margin-bottom: 1.5em;

    @media (min-width: @screen-md) {
      font-size: 1.35rem;
    }

    & a {
      color: #394148;
      border-bottom: solid 0.1rem;
      background-color: rgba(57, 65, 72, 0);
      transition: all ease-in-out 0.25s;

      &:hover {
        color: @green;
        border-bottom-color: #394148;
        background-color: #394148;
        text-decoration: none;
      }
    }
  }
}