.button {
  display: inline-block;
  padding: 1.25em 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  color: inherit;
  background-image: none;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  transition: opacity 0.25s ease-in-out;
  background-color: transparent;
  border-radius: 2em;
  padding: 1.25em 2em;
  background-color: @gray;
  color: @bg-color;
  border-color: @gray;

  @media (min-width: @screen-sm) {
    padding: 1.2em 5em;
  }

  &:hover {
    background-color: #e4e4e4;
    color: @bg-color;
    border-color: #e4e4e4;
    text-decoration: none;
  }

  &--bg-pink {
    background-color: @pink;
    color: #EDE5E1;
    border-color: @pink;

    &:hover {
      background-color: #ff9485;
      color: #EDE5E1;
      border-color: #ff9485;
    }
  }

  &--form {
    width: 100%;
    border-radius: .4em;
    font-size: 1.2rem;
    padding: 1.25em 2em;
    color: inherit;
    border-color: inherit;
    background-color: transparent;
    margin-top: 1em;

    &:hover {
      color: inherit;
      border-color: @pink;
      background-color: transparent;
    }
  }

  &--header {
    font-size: 0.8em;
    padding: 0.4em 1.2em;
    background-color: @pink;
    border-color: @pink;
    color: #EDE5E1;

    &:hover {
      background-color: #fda195;
      border-color: #fda195;
      color: #EDE5E1;
    }

    @media (max-width: @screen-xs) {
      display: none;
    }

    @media (min-width: @screen-sm) {
      font-size: 1em;
      padding: 0.4em 1.2em;
    }
  }
}