.conditions {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 0.8rem;

  & a {
    color: #EDE5E1;
    padding: 0.2rem 1rem;
    text-transform: uppercase;
  }

  & a:nth-of-type(2) {
    border-left: 1px solid #EDE5E1;
    border-right: 1px solid #EDE5E1;
  }
}