.connection {
  padding: 4rem 0 8rem 0;
  background-color: rgba(224,226,229,0);
  position: fixed;
  top: -100vh;
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
  z-index: 0;
  transform: translateY(0);
  transition: all 0.2s ease-in-out;

  &--is-active {
    background-color: @gray;
    z-index: 9001;
    transform: translateY(107vh);
  }

  &__title {
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 1em;
    text-transform: uppercase;

    @media (min-width: @screen-sm) {
      font-size: 1.414em;
      font-weight: normal;
    }
  }
}