.contact-us {
  background-color: @green;
  padding: 6rem 0 8rem 0;

  &__title {
    font-size: 1.414rem;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5rem;

    @media (min-width: @screen-sm) {
      font-size: 1.999rem;
      font-weight: normal;
    }

    @media (min-width: @screen-md) {
      font-size: 2.827rem;
    }

    &--smaller {
      font-size: 1em;
      margin-bottom: 0.5em;
    }
  }

  &--bg-transparent {
    background-color: transparent;
    padding: 1rem 0 1rem 0;
  }
}