.contact-info {
  text-align: center;
  padding: 1rem 0 1rem 0;

  &__desc {
    margin-bottom: 2.3em;
  }

  &__desc a {
    color: @text-color;

    &:hover {
      color: @text-color;
      text-decoration: none;
    }
  }
}