.example {
  text-align: center;
  font-size: 0.8em;
  padding: 3rem 0;

  @media (min-width: @screen-sm) {
    font-size: 0.9em;
  }

  &__inner {

    @media (min-width: @screen-sm) {
      margin: 0 5rem;
      display: flex;
    }
  }

  &__cover {
    height: 100%;
    background: @white;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__info {
    padding: 2rem 0 0 0;
  }

  &__title {
    font-size: 1.414em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2em;

    @media (min-width: @screen-sm) {
      font-size: 2em;
    }
  }

  &__text {
    margin-bottom: 1.3em;
  }

  &__list {
    list-style: none;
    margin-bottom: 3em;
  }

  &--bg-gray {
    background: @gray;
  }

  &--bg-green {
    background: @green;
  }

  &--bg-yellow {
    background: @yellow;
  }
}