.hamburger {
  display: inline-block;
  padding: 0.4em 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  color: inherit;
  background-image: none;
  border-width: 2px;
  border-style: solid;
  transition: opacity 0.25s ease-in-out;
  background-color: transparent;
  border-color: transparent;
  padding-right: 2em;
  outline: none;
  position: relative;

  &::before, &::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 2px;
    right: 0.8rem;
  }

  &::before {
    background-color: #EDE5E1;
    top: ~"calc(50% - 0.2rem / 2)";
    transform: translateY(-0.32rem);
  }

  &::after {
    background-color: #EDE5E1;
    top: ~"calc(50% - 0.2rem / 2)";
    transform: translateY(0.3rem);
  }
}