.info {
  background: @yellow;
  padding: 3rem 0;
  font-size: 1.2rem;

  @media (min-width: @screen-md) {
    font-size: 1.32rem;
  }

  &__text {
    margin-bottom: 1.3em;
  }

  &__link {
    border-bottom: 0.1rem solid;
    color: @text-color;

    &:hover {
      color: @yellow;
      background-color: @text-color;
      border-bottom-color: @text-color;
      text-decoration: none;
    }
  }
}