.main-nav {
  background-color: @text-color;
  width: 17rem;
  position: fixed;
  background-size: cover;
  right: 0;
  top: -1px;
  bottom: 0;
  color: inherit;
  z-index: 9002;
  font-size: 0.85em;
  overflow-y: scroll;
  text-transform: uppercase;
  padding-top: 4rem;
  transform: translateX(17rem);
  transition: transform 0.25s cubic-bezier(0.4,0.01,0.165,0.99),padding-top 0.25s ease-in-out;

  @media (min-width: @screen-xs) {
    padding-top: 5.3rem;
  }

  @media (min-width: @screen-sm) {
    padding-top: 4.9em;
    font-size: 1em;
    width: 20rem;
    transform: translateX(20rem);
  }

  &--active {
    transform: translateX(0);

    @media (min-width: @screen-sm) {
      transform: translateX(0);
    }
  }

  &__list {
    width: 100%;
    list-style: none;
  }

  &__item {
    display: block;
    width: auto;
    text-align: center;
  }

  &__link {
    background-color: @text-color;
    color: #74B2AF;
    display: block;
    width: auto;
    text-align: left;
    padding: 0.45em 2.5em;

    &:hover {
      background-color: @green;
      color: @text-color;
      text-decoration: none;
    }

    &--active {
      background-color: rgba(130,185,183,0.8);
      color: @text-color;
    }
  }
}