.more {
  width: 100%;
  margin-bottom: 30px;
  min-height: 33em;
  font-size: 1rem;
  overflow: hidden;
  position: relative;

  &:hover {
    box-shadow: 0 0 1em -0.3em rgba(57,65,72,0.5);
  }

  &:hover .more__desc {
    top: 55%;
    height: 45%;
  }

  &__img {
    display: block;
    width: 100%;
    position: absolute;
    height: 60%;
    background-size: cover;
    transition: .5s all;
    background-position: 0 bottom;
    transition: all 0.15s ease;
  }

  &__desc {
    text-align: center;
    top: 60%;
    width: 100%;
    height: 40%;
    position: absolute;
    background-color: inherit;
    padding: 2rem;
    border-color: white;
    transition: all 0.15s ease;
    color: @text-color;

    display: flex;
    align-items: center;

    &::before {
      content: "";
      color: transparent;
      position: absolute;
      top: 1rem;
      right: 1rem;
      bottom: 1rem;
      left: 1rem;
      border-color: inherit;
      border-width: 0.4em;
      border-style: solid;
    }

    &--bg-yellow {
      background-color: @yellow;
    }

    &--bg-green {
      background-color: @green;
    }
  }

  &__title {
    color: inherit;
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;

    @media (min-width: @screen-sm) {
      font-size: 1em;
    }

    @media (min-width: @screen-md) {
      font-size: 1.5em;
    }

    @media (min-width: @screen-lg) {
      font-size: 2em;
    }
  }
}