.page-footer {
  padding: 5.5em 1.5em 1.5em;
  background: @gray-darker;
  text-align: center;

  &__info {
    color: @green;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  &__copyright {

    @media (min-width: @screen-sm) {
      text-align: left;
    }
  }

  &__logo {

    @media (min-width: @screen-sm) {
      text-align: right;
    }
  }

  &__logo a {
    color: @green;
  }
}