.page-header {
  background-color: @gray-darker;
  color: @green;
  position: fixed;
  z-index: 9003;
  top: 0;
  width: 100%;
  height: 3.43em;
  transition: all 0.25s ease-in-out;

  @media (min-width: @screen-xs) {
    height: 3.7em;
  }

  @media (min-width: @screen-sm) {
    height: 4.8em;
  }

  &__navigation {
    text-align: right;
    padding-top: 0.5em;

    @media (min-width: @screen-sm) {
      padding-top: 1em;
    }
  }
}