.promo {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: @green;
  text-align: center;
  padding: 6em 1em;
  font-size: 1rem;
  min-height: 90vh;

  @media (min-width: @screen-sm) {
    padding: 10em 1em;
  }

  &--bg-gray {
    background-color: @gray;
  }

  &--with-video {
    padding: 0;

    @media (min-width: @screen-sm) {
      padding: 0;
    }
  }

  &__title {
    font-size: 2.2em;
    line-height: 1.2;
    text-transform: uppercase;
    color: @bg-color;
    font-weight: 700;

    @media (min-width: @screen-sm) {
      font-size: 2.827em;
    }

    @media (min-width: @screen-md) {
      font-size: 3.998em;
    }

    &--green {
      color: @green;
    }

    &--to-video {
      position: absolute;
      top: 2em;
      left: 50%;
      transform: translateX(-50%)
    }
  }
}