.real-events {
  background-color: @bg-color;
  background-image: url(../img/bg-events.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 6em 1em;
  font-size: 1rem;
  color: inherit;
  min-height: 90vh;
  text-align: center;

  display: flex;
  align-items: center;

  &__title {
    color: @pink;
    font-size: 2.2em;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;

    @media (min-width: @screen-sm) {
      font-size: 2.827em;
    }

    @media (min-width: @screen-md) {
      font-size: 3.998em;
    }
  }
}