.social {
  margin: 0;
  padding: 0.3rem 0.3rem 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EDE5E1;
  z-index: 999;
  text-align: center;

  @media (min-width: @screen-sm) {
    top: 12rem;
    right: auto;
    bottom: auto;
    background-color: transparent;
    padding: 0.3rem;
    padding-left: 0;
  }

  &__link {
    position: relative;
    height: 2.5em;
    width: 2.5em;
    display: inline-block;
    overflow: hidden;

    @media (min-width: @screen-md) {
      height: 3.1em;
      width: 3.1em;
    }

    &:hover svg {
      top: -2.5em;
      transition: top ease-in-out 200ms;

      @media (min-width: @screen-md) {
        top: -3.6rem;
      }
    }
  }

  &__link--vertical {

    @media (min-width: @screen-sm) {
      display: block;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;

    @media (min-width: @screen-md) {
      width: 50px;
      height: 100px;
    }
  }
}