.some-background {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding: 6em 1em;
  font-size: 1rem;
  min-height: 90vh;
}