.video {
  position: relative;
  overflow: hidden;
  height: 90vh;
  width: 100%;

  &__content {
    display: none;

    @media (min-width: @screen-md) {
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: auto;
      height: auto;
    }
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media (min-width: @screen-md) {
      display: none;
    }
  }
}