.view {
  padding: 2em;
  text-align: center;
  font-size: 1.2rem;

  @media (min-width: @screen-sm) {
    min-height: 550px;
  }

  @media (min-width: @screen-lg) {
    min-height: 430px;
    padding: 5em 0 5em 0;
  }

  &__quote {
    margin-bottom: 1.3em;
    margin: 0 auto;
    padding: 1em;
    line-height: 1.2em;
    min-height: 150px;

    @media (min-width: @screen-md) {
      max-width: 60%;
      min-height: 190px;
    }
  }

  &__creator {
    font-weight: 700;
    font-style: italic;
    width: 100%;
    display: block;
    text-align: center;
    letter-spacing: .1em;
    margin-bottom: 2em;
  }

  &__img {
    margin: 0 auto 0 auto;
    background-size: cover;
    background-position: center;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    overflow: hidden;
    border: .3em solid;
    display: block;
  }

  &--bg-yellow {
    background-color: @yellow;
    color: @text-color;
  }

  &--bg-gray {
    background-color: @bg-color;
    color: @gray;
  }

  &--bg-light-gray {
    background-color: @gray;
  }
}