@font-face {
  font-family: 'Open Sans_my';
  src: url('opensans_light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans_my';
  src: url('opensans_lightitalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans_my';
  src: url('opensans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans_my';
  src: url('opensans_italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans_my';
  src: url('opensans_semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans_my';
  src: url('opensans_semibolditalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans_my';
  src: url('opensans_bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans_my';
  src: url('opensans_boldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}