html {
  box-sizing: border-box;
  font-size: 14px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  box-sizing: content-box;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: @font-family;
  color: @text-color;
  font-size: @font-size;
}

h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: all ease-in-out 0.25s;
}

button {
  background-color: inherit;
  border: none;
}

.over {
  overflow: hidden;
}