@screen-xs:                   480px;
@screen-sm:                   768px;
@screen-md:                   992px;
@screen-lg:                   1200px;
@screen-xl:                   1920px;

@text-color:                  #394148;
@bg-color:                    #707980;

@green:                       #82B9B7;
@gray:                        #e0e2e5;
@gray-darker:                 #4C5760;
@yellow:                      #E3C567;
@pink:                        #FF7E6B;
@white:                       #fff;

@font-family:                 'Open Sans_my', sans-serif;
@font-size:                   16px;
