<div class="connection" id="connection">
  <div class="container">
    <div class="row">

      <div class="col-xs-12  col-sm-6">
        <section class="contact-us  contact-us--bg-transparent">
          <h3 class="connection__title">Get in touch</h3>
          <div class="contact-us__form">
            <div class="form">
              <form action="">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                  <label for="name">Phone Number</label>
                  <input type="tel" class="form-control" id="phone">
                </div>
                <div class="form-group">
                  <label for="location">Location of your event (if known)</label>
                  <input type="text" class="form-control" id="location">
                </div>
                <div class="form-group">
                  <label for="number">Number of guests</label>
                  <input type="number" class="form-control" id="number">
                </div>
                <div class="form-group">
                  <label for="date">Date of the event</label>
                  <input type="date" class="form-control" id="date">
                </div>
                <div class="form-group">
                  <label for="date">Date of the event</label>
                  <textarea class="form-control" rows="7"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="button  button--form">Send a message</button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>

      <div class="col-xs-12  col-sm-6">
        <section class="contact-info">
          <h3 class="connection__title">Find us</h3>
          <div class="contact-info__desc">
            <a class="social__link" href="/" target="_blank">
               <svg class="social__img" width="40" height="80"><use xlink:href="#facebook"></use></svg>
            </a>
            <a class="social__link" href="/" target="_blank">
               <svg class="social__img" width="40" height="80"><use xlink:href="#twitter"></use></svg>
            </a>
            <a class="social__link" href="/" target="_blank">
               <svg class="social__img" width="40" height="80"><use xlink:href="#youtube"></use></svg>
            </a>
            <a class="social__link" href="/" target="_blank">
               <svg class="social__img" width="40" height="80"><use xlink:href="#pinterest"></use></svg>
            </a>
            <a class="social__link" href="/" target="_blank">
               <svg class="social__img" width="40" height="80"><use xlink:href="#instagram"></use></svg>
            </a>
          </div>
          <h3 class="connection__title">Phone</h3>
          <div class="contact-info__desc">
            <a href="tel:+7..........">+79999999999</a>
          </div>
          <h3 class="connection__title">Email</h3>
          <div class="contact-info__desc">
            <a href="mailto:some@some.com">info@world-inspired.co.uk</a>
          </div>
          <h3 class="connection__title">Post</h3>
          <p class="contact-info__desc">World Inspired Tents<br>
          Unit 17 & 18<br>
          Coxleigh Barton<br>
          Shirwell<br>
          Barnstaple<br>
          Devon<br>
          EX31 4JL</p>
        </section>
      </div>
    </div>
  </div>
</div>