<header class="page-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4  col-sm-5">
        <!-- <a href="/" class="main-logo"></a> -->
      </div>
      <div class="col-xs-8  col-sm-7">
        <div class="page-header__navigation">
          <div href="/" class="button  button--header" id="contact-us">Contact us</div>
          <button class="hamburger  hamburger--slider" type="button" aria-label="Menu" aria-controls="navigation">Menu</button>
        </div>
      </div>
    </div>
  </div>
</header>

<nav class="main-nav" id="main-nav">
  <ul class="main-nav__list">
    <li class="main-nav__item"><a href="/" class="main-nav__link  main-nav__link--active">Homepage</a></li>
    <li class="main-nav__item"><a href="/" class="main-nav__link">Tipi Weddings</a></li>
    <li class="main-nav__item"><a href="/" class="main-nav__link">Corporate Events</a></li>
    <li class="main-nav__item"><a href="/" class="main-nav__link">Tipi parties</a></li>
    <li class="main-nav__item"><a href="/" class="main-nav__link">Festivals</a></li>
    <li class="main-nav__item"><a href="/" class="main-nav__link">Other link</a></li>
    <li class="main-nav__item"><a href="/" class="main-nav__link">Other link</a></li>
    <li class="main-nav__item"><a href="/" class="main-nav__link">Other link</a></li>
    <li class="main-nav__item"><a href="/" class="main-nav__link">Other link</a></li>
    <li class="main-nav__item"><a href="/" class="main-nav__link">Other link</a></li>
  </ul>
</nav>