<footer class="page-footer">
  <div class="container-fluid">
    <div class="conditions">
      <a href="/" target="_blank">Terms and conditions</a>
      <a href="/" target="_blank">Privacy Policy</a>
      <a href="/" target="_blank">Damage Waiver</a>
    </div>
    <div class="page-footer__info row">
      <div class="page-footer__copyright  col-xs-12 col-sm-6">World Inspired Tents 2016</div>
      <div class="page-footer__logo  col-xs-12 col-sm-6"><a href="/" taget="_blank">a logo website</a></div>
    </div>
  </div>
</footer>